# SHARK ATTACK PROJECT

## Scenario

The company  *Code Wave*  aims to open a new asset, however does not have know-how to decide where to build its first board producing facility. In order to find the best geographical location, *Code Wave* wants to develop a market research based on a csv file, which contains the historical shark attacks data.

The market research must answer the following questions:
    
    - Which geographical location is the best for the company?
    - Which client profile should the company prioritize?

**Assumptions**

    - Only surfing and standing activities should be considered; 
    - The period considered for the market research is the last 20 years;
    - The location with more entries is the location with more board use.

**Conclusion**

The elected place to open a board facility is **Volusia County on Florida,USA**.

And the client profile is **Mans and Womans with 20/25 years old**.

## Coding

**Importing modules that will be used throughout the code**

In [1]:
import pandas as pd
import numpy as np
import re

**Importing the data base 'attacks.csv' and assigning the DataFrame to a variable called df**

In [2]:
df = pd.read_csv('attacks.csv', encoding='latin8')

# examine 'df' using the head() function
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [3]:
# checking which columns have non null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

**Criação de um novo DataFrame com as Colunas de Interesse**

In [4]:
# Pick columns useful from for the analysis and applying to a new variable called shark_df

shark_df = df[['Year','Country','Area','Location', 'Activity','Sex ','Age']].copy()
shark_df

,Year,Country,Area,Location,Activity,Sex,Age
0,2018.0,USA,California,"Oceanside, San Diego County",Paddling,F,57
1,2018.0,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11
2,2018.0,USA,Hawaii,"Habush, Oahu",Surfing,M,48
3,2018.0,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,M,NaN
4,2018.0,MEXICO,Colima,La Ticla,Free diving,M,NaN
...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Renaming the Sex column
shark_df.rename(columns={'Sex ':'Sex'}, inplace=True)

In [6]:
# Analyse the distinct values for Activity column
shark_df.Activity.unique()

array(['Paddling', 'Standing', 'Surfing', ...,
       'Crew swimming alongside their anchored ship',
       '4 men were bathing', 'Wreck of  large double sailing canoe'],
      dtype=object)

**Cleaning the Year column**

In [7]:
# Change the column value for numeric
shark_df['Year'] = pd.to_numeric(shark_df['Year'], errors = 'coerce').copy()

# Remove the missing values
shark_df = shark_df.dropna(subset = ['Year']).copy()

# Checking the values in column Year
shark_df.Year.unique()

array([2018., 2017., 2016., 2015., 2014., 2013., 2012., 2011., 2010.,
       2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002., 2001.,
       2000., 1999., 1998., 1997., 1996., 1995., 1984., 1994., 1993.,
       1992., 1991., 1990., 1989., 1969., 1988., 1987., 1986., 1985.,
       1983., 1982., 1981., 1980., 1979., 1978., 1977., 1976., 1975.,
       1974., 1973., 1972., 1971., 1970., 1968., 1967., 1966., 1965.,
       1964., 1963., 1962., 1961., 1960., 1959., 1958., 1957., 1956.,
       1955., 1954., 1953., 1952., 1951., 1950., 1949., 1948., 1848.,
       1947., 1946., 1945., 1944., 1943., 1942., 1941., 1940., 1939.,
       1938., 1937., 1936., 1935., 1934., 1933., 1932., 1931., 1930.,
       1929., 1928., 1927., 1926., 1925., 1924., 1923., 1922., 1921.,
       1920., 1919., 1918., 1917., 1916., 1915., 1914., 1913., 1912.,
       1911., 1910., 1909., 1908., 1907., 1906., 1905., 1904., 1903.,
       1902., 1901., 1900., 1899., 1898., 1897., 1896., 1895., 1894.,
       1893., 1892., 1891., 1890., 1889., 1888., 1887., 1886., 1885.,
       1884., 1883., 1882., 1881., 1880., 1879., 1878., 1877., 1876.,
       1875., 1874., 1873., 1872., 1871., 1870., 1869., 1868., 1867.,
       1866., 1865., 1864., 1863., 1862., 1861., 1860., 1859., 1858.,
       1857., 1856., 1855., 1853., 1852., 1851., 1850., 1849., 1847.,
       1846., 1845., 1844., 1842., 1841., 1840., 1839., 1837., 1836.,
       1835., 1834., 1832., 1831., 1830., 1829., 1828., 1827., 1826.,
       1825., 1823., 1822., 1819., 1818., 1817., 1816., 1815., 1812.,
       1811., 1810., 1808., 1807., 1805., 1804., 1803., 1802., 1801.,
       1800., 1797., 1792., 1791., 1788., 1787., 1786., 1785., 1784.,
       1783., 1780., 1779., 1776., 1771., 1767., 1764., 1758., 1753.,
       1751., 1749., 1755., 1748., 1742., 1738., 1733., 1723., 1721.,
       1703., 1700., 1642., 1638., 1637., 1617., 1595., 1580., 1555.,
       1554., 1543.,  500.,   77.,    5.,    0.])

In [8]:
# Change the values for intenger
shark_df = shark_df.astype({'Year': int}).copy()
shark_df.Year.value_counts()

2015    143
2017    136
2016    130
2011    128
2014    127
       ...
1742      1
1738      1
1638      1
5         1
1543      1
Name: Year, Length: 249, dtype: int64

**Data Filtering**

In [9]:
# Creating a mask to select only the board sports
conditions = (shark_df['Activity'] == 'Standing') | (shark_df['Activity'] == 'Surfing')
shark_df = shark_df[conditions].copy()
shark_df

,Year,Country,Area,Location,Activity,Sex,Age
1,2018,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11
2,2018,USA,Hawaii,"Habush, Oahu",Surfing,M,48
3,2018,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,M,NaN
9,2018,USA,Florida,"Daytona Beach, Volusia County",Standing,M,12
15,2018,SOUTH AFRICA,Eastern Cape Province,"Nahoon Beach, East London",Surfing,M,NaN
...,...,...,...,...,...,...,...
6097,1828,USA,Hawaii,"Uo, Lahaina, Maui",Surfing,M,NaN
6143,1779,USA,Hawaii,"Maliu, Hawai'i",Surfing,M,young
6201,0,USA,Florida,"Lost Tree Village, Palm Beach County",Surfing,M,NaN
6249,0,USA,Florida,"Palm Beach, Palm Beach County",Standing,M,NaN
6276,0,BELIZE,NaN,NaN,Standing,M,16

In [10]:
# Creating a mask to select the last 20 years
year_cut = (shark_df['Year'] >= 2000)
shark_df = shark_df[year_cut].copy()
shark_df

,Year,Country,Area,Location,Activity,Sex,Age
1,2018,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11
2,2018,USA,Hawaii,"Habush, Oahu",Surfing,M,48
3,2018,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,M,NaN
9,2018,USA,Florida,"Daytona Beach, Volusia County",Standing,M,12
15,2018,SOUTH AFRICA,Eastern Cape Province,"Nahoon Beach, East London",Surfing,M,NaN
...,...,...,...,...,...,...,...
2056,2000,PAPUA NEW GUINEA,Madang Province,"Long Island near Madang, about 500 km (310 mil...",Standing,M,9
2063,2000,USA,Florida,"Floridana Beach, Brevard County",Surfing,M,37
2065,2000,AUSTRALIA,New South Wales,"McMasters Beach, Central Coast",Surfing,M,NaN
2074,2000,NEW ZEALAND,South Island,Oreti Beach (reported as the 4th person bitten...,Surfing,M,12
2075,2000,AUSTRALIA,South Australia,"Point Sinclair, Cactus Beach near Penong",Surfing,M,26

In [11]:
# Checking the values in Sex columns
shark_df.Sex.value_counts()

M      591
F       64
lli      1
Name: Sex, dtype: int64

In [12]:
# Creating a mask to select the entris which contains 'M' and 'F'
sex_cut = (shark_df['Sex'] == 'M' ) | (shark_df['Sex'] == 'F')
shark_df = shark_df[sex_cut].copy()
shark_df

,Year,Country,Area,Location,Activity,Sex,Age
1,2018,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11
2,2018,USA,Hawaii,"Habush, Oahu",Surfing,M,48
3,2018,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,M,NaN
9,2018,USA,Florida,"Daytona Beach, Volusia County",Standing,M,12
15,2018,SOUTH AFRICA,Eastern Cape Province,"Nahoon Beach, East London",Surfing,M,NaN
...,...,...,...,...,...,...,...
2056,2000,PAPUA NEW GUINEA,Madang Province,"Long Island near Madang, about 500 km (310 mil...",Standing,M,9
2063,2000,USA,Florida,"Floridana Beach, Brevard County",Surfing,M,37
2065,2000,AUSTRALIA,New South Wales,"McMasters Beach, Central Coast",Surfing,M,NaN
2074,2000,NEW ZEALAND,South Island,Oreti Beach (reported as the 4th person bitten...,Surfing,M,12
2075,2000,AUSTRALIA,South Australia,"Point Sinclair, Cactus Beach near Penong",Surfing,M,26

In [13]:
# Checking unique values from Acitivy, Year and Sex.
print(shark_df.Activity.unique())
print(' ')
print(shark_df.Year.unique())
print(' ')
print(shark_df.Sex.unique())

['Standing' 'Surfing']

[2018 2017 2016 2015 2014 2013 2012 2011 2010 2009 2008 2007 2006 2005
 2004 2003 2002 2001 2000]

['F' 'M']

**New Dataframe Info**

In [14]:
# Checking which columns have non null values
shark_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 655 entries, 1 to 2075
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Year      655 non-null    int32
 1   Country   654 non-null    object
 2   Area      651 non-null    object
 3   Location  650 non-null    object
 4   Activity  655 non-null    object
 5   Sex       655 non-null    object
 6   Age       539 non-null    object
dtypes: int32(1), object(6)
memory usage: 38.4+ KB

In [15]:
# Checking dataframe shape
shark_df.shape

(655, 7)

**Cleaning the Age column**

In [16]:
# Checking unique registers in Age column.
shark_df.Age.unique()

array(['11', '48', nan, '12', '60', '41', '37', '19', '18', '20', '54',
       '35', '14', '24', '25', '31', '33', '28', '42', '17', '13', '58',
       '16', '65', '36', '29', '21', '43', '22', '9', '27', '15', '32',
       '38', '52', '47', '40', '45', '34', '23', '26', '50', '44', '50s',
       '51', '8', 'teen', '30', '7', '10', '39', '30s', '61', '53', '63',
       '49', '46', 'Teen', '55', '68', '59', '57', '30 or 36', '33 or 37'],
      dtype=object)

In [17]:
# Correct the wrong values
shark_df.loc['30s', 'Age'] = '30'
shark_df.loc['50s', 'Age'] = '50'

In [18]:
# Change the column value for numeric
# Transform the errors in NaN
shark_df['Age'] = pd.to_numeric(shark_df['Age'], errors = 'coerce')

In [19]:
# Calculate the median age
age_median= round(shark_df[shark_df.Age.notnull()].Age.astype(int).median())
age_median

25

In [20]:
# Apply the median age for the missing values
shark_df.Age.fillna(age_median, inplace=True)

In [21]:
# Checking dataframe new infos
shark_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 657 entries, 1 to 50s
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Year      655 non-null    float64
 1   Country   654 non-null    object
 2   Area      651 non-null    object
 3   Location  650 non-null    object
 4   Activity  655 non-null    object
 5   Sex       655 non-null    object
 6   Age       657 non-null    float64
dtypes: float64(2), object(5)
memory usage: 61.1+ KB

**Cleaning Location Columns**

In [22]:
# Dropping NaN values in Location column.
shark_df = shark_df.dropna(subset=['Location']).copy()
shark_df.Location.value_counts()

New Smyrna Beach, Volusia County                                87
Ponce Inlet, Volusia County                                      9
Ponce Inlet, New Smyrna Beach, Volusia County                    8
Melbourne Beach, Brevard County                                  6
Nahoon, East London                                              5
                                                                ..
North Kohala, Hawaii County                                      1
Kalapaki Beach, Kauai                                            1
English Bay                                                      1
Santa Lucea Beach, South Hutchinson Island, St. Lucie County     1
Fishery Bay, Eyre Peninsula                                      1
Name: Location, Length: 472, dtype: int64

**Cleaning Area Columns**

In [23]:
# Identify the position of the missing values
mask1 = shark_df.Area.isnull()
mask2 = mask1[mask1 == True]
mask2

229     True
388     True
1603    True
Name: Area, dtype: bool

In [24]:
# Compare which Location columns positions
print(shark_df.Location[229])
print(shark_df.Location[388])
print(shark_df.Location[1603])

Boucan Canot
St. Leu
Punta Caracas

In [25]:
# Based on location inputs the new values
shark_df.loc[229, 'Area'] = 'Saint Gilles'
shark_df.loc[388, 'Area'] = 'Saint Gilles'
shark_df.loc[1603, 'Area'] = 'Punta Caracas'

In [26]:
# Checking which Area column have non null values
shark_df.Area.isnull().sum()

0

In [27]:
# Checking unique registers in Area column.
shark_df.Area.unique()

array(['Georgia', 'Hawaii', 'New South Wales', 'Florida',
       'Eastern Cape Province', 'Western Australia', 'New Providence',
       'Victoria', 'Fernando de Noronha', 'California', 'New York',
       'Shizuoka Prefecture', 'Ascension Island', 'Washington',
       'Marquesas', 'Western Cape Province', 'South Carolina', 'Bali',
       'Queensland', 'Oregon', 'Saint Gilles', 'Kochi Prefecture',
       'Tasmania', 'North Carolina', 'Guanacaste', 'Le Port',
       'South Australia', 'Saint-Gilles-les-Bains', 'Pernambuco',
       'Delaware', 'Atsumi peninsula', 'South Island',
       'Santa Cruz Island', 'British Colombia', 'North Island',
       'Santa Elena', 'Moray', 'Puerto Rico', 'Society Islands',
       'Saint-Gilles', 'Saint Gilles ', 'Vitu Levu', 'Abaco Islands',
       'Virginia', 'Texas', 'Saint-Benoit', 'Rio Grande Do Sul', 'Dubai',
       'Western Province', 'Eastern Province', 'KwaZulu-Natal',
       'South Province', 'Galapagos Islands', 'Bahia', 'Guerro',
       'Baja California', 'Saint-Pierre', 'Simpson Bay', 'New Jersey',
       'Punta Caracas', 'Saint-Benoît',
       'South Island, near Karitane north of Dunedin', 'Rocha',
       'Nueva Esparta', 'North Pacific coast', 'Cook Islands',
       'Miyako Island', 'Madang Province'], dtype=object)

**Cleaning Country Column**

In [28]:
# Checking which Area column have non null values
shark_df.Country.isnull().sum()

0

In [29]:
# Checking unique registers in Country column
shark_df.Country.unique()

array(['USA', 'AUSTRALIA', 'SOUTH AFRICA', 'BAHAMAS', 'BRAZIL', 'JAPAN',
       'ST HELENA, British overseas territory', 'FRENCH POLYNESIA',
       'INDONESIA', 'REUNION', 'COSTA RICA', 'NEW ZEALAND', 'ECUADOR',
       'CANADA', 'SCOTLAND', 'FIJI', 'UNITED ARAB EMIRATES (UAE)',
       'NEW CALEDONIA', 'MEXICO', 'ST. MAARTIN', 'MEXICO ', 'VENEZUELA',
       'URUGUAY', 'OKINAWA', 'PAPUA NEW GUINEA'], dtype=object)

In [30]:
# Correct the wrong values

shark_df['Country'].replace(['OKINAWA'], 'JAPAN', inplace = True)

shark_df['Country'].replace(['MEXICO '], 'MEXICO', inplace = True)

In [31]:
# Checking the changes
shark_df.Country.unique()

array(['USA', 'AUSTRALIA', 'SOUTH AFRICA', 'BAHAMAS', 'BRAZIL', 'JAPAN',
       'ST HELENA, British overseas territory', 'FRENCH POLYNESIA',
       'INDONESIA', 'REUNION', 'COSTA RICA', 'NEW ZEALAND', 'ECUADOR',
       'CANADA', 'SCOTLAND', 'FIJI', 'UNITED ARAB EMIRATES (UAE)',
       'NEW CALEDONIA', 'MEXICO', 'ST. MAARTIN', 'VENEZUELA', 'URUGUAY',
       'PAPUA NEW GUINEA'], dtype=object)

**Dataframe Info**

In [32]:
# Checking which Dataframe have non null values
shark_df.isnull().sum()

Year        0
Country     0
Area        0
Location    0
Activity    0
Sex         0
Age         0
dtype: int64

In [33]:
# Checking dataframe new infos
shark_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 650 entries, 1 to 2075
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Year      650 non-null    float64
 1   Country   650 non-null    object
 2   Area      650 non-null    object
 3   Location  650 non-null    object
 4   Activity  650 non-null    object
 5   Sex       650 non-null    object
 6   Age       650 non-null    float64
dtypes: float64(2), object(5)
memory usage: 60.6+ KB

In [34]:
# Removing columns 'MEXICO ' e 'OKINAWA'

shark_df.drop(columns=['MEXICO ', 'OKINAWA'], inplace=True)

KeyError: "['MEXICO ' 'OKINAWA'] not found in axis"

In [ ]:
# Checking the changes
shark_df.info()

In [ ]:
shark_df


**Which geographical location is the best for the company?**

In [ ]:
# Top Ten Locations in number of cases
shark_df.Location.value_counts().head(10)

In [ ]:
# Analyse Volusia County entries

var_list = list(shark_df.Location.values

import re

n_list=list(map(lambda x: re.findall('[V][o][l][u][s][i][a][ ][C][o][u][n][t][y]', x), var_list))

volusia_count = []

for i in n_list:
    if i == ['Volusia County']:
       volusia_count.append(i)
    
print(len(volusia_count))

In [ ]:
# Number of entries for Country
shark_df.Country.value_counts()

In [ ]:
# Analyse Brevard Country entries

n2_list=list(map(lambda x: re.findall('[B][r][e][v][a][r][d][ ][C][o][u][n][t][y]', x), var_list))

brevard_count = []

for i in n2_list:
    if i == ['Brevard County']:
       brevard_count.append(i)
    
print(len(brevard_count))

In [ ]:
# Analyse the Volusia Country share in the dataframe

porc = (len(volusia_count)/shark_df.Location.count())*100
porc.round(2)

**A:** With 132 entrys (20,31%), Volusia County, Florida is the best choice for the board producing facility.


**Which client profile should the company prioritize?**

In [ ]:
# Checking the Mans and Womans proportion in the dataframe

shark_df.Sex.value_counts(normalize=True).round(2)*100

In [ ]:
# Checking the Mans and Womans proportion in Florida

persona = shark_df.loc[shark_df['Area']=='Florida', 'Sex']
persona.value_counts(normalize=True).round(2)*100

In [ ]:
# Calculate the median age for Sex

shark_df.groupby('Sex')['Age'].median()

In [ ]:
# Checking the median age for Sex in Florida

shark_df[shark_df['Area']=='Florida'].groupby(['Sex'], as_index=False).agg(age_median = ('Age','median'))

**A:**

- Womans which 20 at 25 years
- Mans which 20 at 25 years

Persona: **Man which 23 years old**